<%= render "shared/banner" %>

<main class="px-4">

  <h2 class="text-xl text-center text-orange-600 font-bold py-8">
    What's your mood today?
  </h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <%= render @lists %>
  </div>

</main>
