<main>

  <div style="background-image: url(<%= asset_path 'banner.jpeg' %>); background-size: cover; background-position: center; padding: 40px 60px 200px">
    <h1>Save any movie!</h1>
    <h6>Ack Ack... ACK ACK!</h6>
  </div>

<!--  <div class="flex-column col-3 justify-content-center align-items-center ">-->
    <%# @lists.each do |list| %>
<!--      <div class="col-4">-->
        <%#= list.name %>
<!--      </div>-->
    <%# end %>
<!--  </div>-->
</main>
