<div class="flex flex-col mb-4 shadow-md w-48">

  <div class="relative">
    <% unless bookmark.movie.poster_url.blank? %>
      <%= image_tag bookmark.movie.poster_url, class: "h-400 w-full object-cover object-top" %>
    <% else %>
      <img class= "h-40 w-full object-cover" src="..." alt="">
    <% end %>
    <div class="absolute bottom-2 right-2 text-sm bg-white bg-opacity-80 px-1 rounded-md">
      <%= bookmark.movie.rating %>
    </div>
  </div>

  <div class="flex flex-col text-center p-4 gap-1 bg-white h-32">
    <h5 class="text-lg text-green-600"><%= bookmark.movie.title %></h5>
    <p class="text-sm text-black-600 line-clamp-3 overflow-hidden"><%= bookmark.movie.overview %></p>
  </div>
</div>
