<div class="flex flex-col mb-4 shadow-md w-48">
  <% unless bookmark.movie.poster_url.blank? %>
    <%= image_tag bookmark.movie.poster_url, class: "h-400 w-full object-cover object-top" %>
  <% else %>
    <img class= "h-40 w-full object-cover" src="..." alt="">
  <% end %>

  <div class="flex flex-col text-center p-4 gap-1 bg-white">
    <h5 class="text-lg text-green-600"><%= bookmark.movie.title %></h5>
    <p class="text-sm text-black-600 line-clamp-2"><%= bookmark.movie.overview %></p>
  </div>
</div>
