<div style="background-image: url(<%= asset_path 'banner.jpeg' %>); background-size: cover; background-position: center; padding: 40px 60px 200px">
  <h1>Save any movie!</h1>
  <h6>Ack Ack... ACK ACK!</h6>
</div>
